.search {
  overflow: hidden;
  padding: 0 0 1.25em;
  opacity: 0.7;
  cursor: pointer;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.search:hover, .search:focus-within {
  opacity: 1;
}

.one {
  font-size: 5vw;
  margin-top: 1rem;
  width: calc(15em - 2em);
  height: 2em;
  z-index: 2;
}

.two {
  width: calc(100% - 1em);
  height: 100%;
  position: absolute;
  top: 0;
  left: 1em;
}

.one:before,
.two:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1em;
  border: 0.1em solid black;
}
.one:before:hover,
.two:before:hover {
  background-color: #e8e8e8;
}

.one:before {
  left: 0;
  border-right: none;
  border-radius: 1em 0 0 1em;
}

.two:before {
  right: 0;
  border-left: none;
  border-radius: 0 1em 1em 0;
}

.three {
  height: 100%;
  width: calc(100% - 1em);
  overflow: hidden;
}

input[type=search] {
  display: block;
  width: 100%;
  height: 100%;
  border: 0.1em solid #a1a1a1;
  border-left: none;
  border-right: none;
  background: transparent;
  color: black;
  font: inherit;
  float: left;
}
input[type=search], input[type=search]:focus {
  outline: none;
}

.stick {
  position: absolute;
  height: 1em;
  width: 0.1em;
  right: 1em;
  top: 50%;
  transform: translate(0%, -50%);
}
.stick:before, .stick:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.stick:before {
  transform: rotate(45deg);
}
.stick:after {
  transform: rotate(-45deg);
}

.one {
  transform: translateX(50%) translateX(-1em);
}

.two {
  transform: translateX(-100%) translateX(1em);
}

.three {
  transform: translateX(100%);
}

.four {
  transform: translateX(-100%);
}

.stick:before, .stick:after {
  transform: rotate(-45deg) translateY(150%);
}

.search:after {
  content: "";
  position: absolute;
  top: 1.25em;
  left: 0.25em;
  right: 0.25em;
  bottom: 1.5em;
  z-index: 0;
  border: solid 2px turquoise;
  box-sizing: content-box;
  opacity: 0;
  transition-duration: 0.2s;
  transition-property: opacity;
  border-radius: 3em;
}

.search:focus-within:after {
  opacity: 1;
  transition-delay: 0.6s;
}
.search:focus-within .one,
.search:focus-within .two,
.search:focus-within .three,
.search:focus-within .four {
  transform: translateX(0);
}
.search:focus-within .stick {
  pointer-events: auto;
}
.search:focus-within .stick:before {
  transform: rotate(45deg);
}
.search:focus-within .stick:after {
  transform: rotate(-45deg);
}
*,
*:before,
*:after {
  transition: transform 0.4s cubic-bezier(0.6, 0, 0.4, 1);
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: inherit;
  opacity: 0.6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: inherit;
  opacity: 0.6;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: inherit;
  opacity: 0.6;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: inherit;
  opacity: 0.6;
}

*,
*:before,
*:after {
  position: relative;
  box-sizing: border-box;
}

#searchbar{
   }
 
   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 100%;
   }
 
  #list{
   }
 
.nersisyan_srech{
  } 
.floating {
    width: auto;
    height: auto;
}
.profile_log {
    background: #00000078;
    width: 31px;
    height: 31px;
    margin-bottom: -10px;
    margin-top: -4px;
    border-radius: 10px 3.5px 10px 3.5px;
}

.ball {
    width: auto;
    height: 31px;
    border-radius: 5px;
    background: #00000078;
    padding: 2.5px;
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: -4px;
}
.point_count {
    color: white;
    margin-left: 3.5px;
    margin-right: 5px;
    top: 1px;
    font-size: 13px;
}